* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 80%;
    padding: 20px;
    margin: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background: #225ca3;
  }

  .login-form{
    border-radius: 10px;
    background: #2b88f3;
    text-align: center;
    padding: 40px;
   
   
  }

  .signup-form{
    border-radius: 10px;
    background: #2b88f3;
    text-align: center;
    padding: 40px;
  }
  
  
  a {
    text-decoration: none;
    color:#fff;
    font-weight: bold;
    transition: color .10s;
    font: size 3rem;;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  
  button {
    background-color: #e79333;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .3s;
    cursor: pointer;
    border-radius: 2px;
  }
  
  button:hover {
    background-color: #5ff042;
  }
  
  .post-list {
    margin: 0;
    padding: 0;
    list-style-type:none;
  }
  
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    background-color: rgb(2, 32, 46);
    height: 80px;
    
  }
  
  header h1 {
    padding: 1.25rem;
    color: white;
    font-size: 30px;
    
    }
  
  main {
    flex: 1;
    padding: 2% 4%;
  }

  nav {
   display: inline-block;
   text-align: center;
   padding: 14px;
   color: rgb(0, 0, 0);
   text-decoration: none;
   font-size: 20px;
   /* font-weight: bolder; */
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #225ca3;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    color: #3486eb;
  }
  
  .delete-post-btn {
    background-color: #d41414;
  }
  
  .delete-post-btn:hover {
    background-color: #ff643d;
  }
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
    padding: 5px;
  }
  
   .post .title {
    font-style: italic;
    font-size: 1.25rem;
    color: #f7f7f7;
    background-color: rgb(9, 62, 141);
    padding-top: 10px;
    padding-bottom: 6px;
    padding-right: 4px;
    padding-left: 4px;
  } 

  .post .title span {
    font-style:normal;
    font-size: 0.8rem;
    color: #050505;
    padding-top: 2px;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  .upvote-btn {
    background-color: #197d0f;
    transition: background-color .1s;
  }
  
  .upvote-btn:hover {
    background-color: #1f9c13;
  }
  
  .comment-form {
    margin-bottom: 5%;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #f0f5ff;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  .new-post-form input, textarea {
    width: 80%;
  }
  
  .edit-post-form {
    margin-bottom: 5%;
  }

  .row {
      display: flex;
      background: #3486eb;
      color: #ccc;
      border-radius: 5px;
  }

  .column {
      flex: 50%;
      padding: 1.25rem;
  }
  
